@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #0a000c;
  scroll-behavior: smooth;

}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  background-color: #290235;
  opacity: 1;
  transition: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 8px;
  z-index: 10;
}


.logo-container {
  display: flex;
}

header .logo-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  z-index: 0;

}
header .logo-container .logo-link .logo-image{
  width: 60px;
  height: auto;
  position: absolute;
  top: 12%;
  left: 2%;
  z-index: 0;

}

header nav .lista {
  display: flex;
  flex-direction: row;
  width: 40px;
  gap: 120px;
  list-style: none;
  width: 100%;
  z-index: 0;

}

header nav .lista .lista-item {
  border-radius: 20px;
  background-color: transparent; 
  transition: background-color 0.7s, font-size 0.7s;
  z-index: 10;
  font-size: 20px;
 
}
header nav .lista .lista-item a{
  color: white;
  font-weight: 200px;
  font-family: "Inter",sans-serif;
  text-transform: lowercase;
  text-decoration: none;
}

header nav .lista .lista-item:hover {
  background-color: #00db37;
  font-size: 22px;
  z-index: 0;
  transition: all 0.7s;
  border: 10px solid #00db37;
  border-radius: 50px;

}

.apresentacao {
  position: relative; 
  height: 100vh;
  padding-bottom: 120px ;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.apresentacao .apresentacao-container {
  text-align: center;

}

.apresentacao .apresentacao-container .apresentacao-title {
  padding-left: 140px;
  font-size: 26px;
  font-weight: bold;
  color: greenyellow;
  z-index: 2;
  opacity: 0; 
  animation: fadeIn 2s forwards;
}

.apresentacao .apresentacao-container .apresentacao-title .apresentacao-title-span {
  color: aliceblue;
  transition: all 0.5s ease-in-out;
  z-index: 2;
}

.apresentacao .apresentacao-container .apresentacao-title .apresentacao-title-span:hover {
  color: greenyellow;
  font-size: 32px;
  transition: all 0.5s ease-in-out;
}

.apresentacao .apresentacao-image {
  position: absolute;
  top: 4;
  bottom: 0;
  left: 65%;
  width: 1000px;
  height: auto;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  opacity: 0.2; 
  z-index: 1; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
section.descricao {
  padding: 120px 30px;
}

.textos h1, .textos h2 {
  color: white;
  z-index: 10000;
}

.textos h1 {
  font-size: 2em; 
  text-transform: uppercase;
  margin-top: 40px; 
  margin-bottom: 10px; 
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5); 
}

.textos h2 {
  font-size: 1.5em; 
  margin-top: 10px; 
  margin-bottom: 20px; 
  padding: 20px 40px;
  border-left: 4px solid rgba(255, 255, 255, 0.3); 
  border-right: 4px solid rgba(255, 255, 255, 0.3); 
  background-color:rgba(91, 0, 109, 0.3);
  border-radius: 5px;
}

.textos h1 + h2 {
  margin-top: 10px; 
}

.generos {
  padding-top: 3050px;
  max-width: 1500px;
  margin: 0 auto;
}
.generos h1 { 
  color: #fff;
  font-size: 2em; 
  text-transform: uppercase;
  margin-top: 40px; 
  margin-bottom: 10px; 
  padding: 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5); 
}

.generos h2 {
  padding: 40px;
  background-color:rgba(91, 0, 109, 0.3);
  color: white;
  margin-bottom: 20px;
  border-left: 5px solid #777676;
}

.artistas {
  padding-top: 3300px;
  max-width: 1500px;
  margin: 0 auto;
}
.artistas h1 {
  font-size: 40px;
  color: #fff;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.artistas h2 {
  padding: 40px;
  background-color:rgba(91, 0, 109, 0.3);
  text-align: justify;
  line-height: 40px;
  color: white;
  margin-bottom: 20px;
  border-left: 5px solid #777676;
}