header{
    background-color:rgb(41, 2, 53);
    display:flex;
    flex-direction: row;
    justify-content: space-between 5px;
    align-items: center;
    padding: 20px;
    border-bottom: 2px;
    opacity: 0; /* Começa invisível */
    transition: opacity 1s ease-in-out;
    
}
header.fade-in {
    opacity: 1;
}

header:hover{
    opacity: 1;
}
body{
    margin: auto;
    background-color: #0a000c;
}
.texto {
    font-size: 25px;
    text-align: center;
    color: greenyellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: font-size 0.5s ease;
}
.texto span{
    color: aliceblue;
    transition:color 0.5s ease;
}
.texto:hover{
    font-size: 30px;
    color: greenyellow;

}
.texto:hover span{
    color: greenyellow;
}
.nav ul {
    display: flex; /* Garante que os itens da lista fiquem na mesma linha */
    list-style: none; /* Remove os marcadores da lista */
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o preenchimento padrão */

}
.nav ul li {

    margin: 10px 0; /* Espaço entre os itens */
    padding: 15px; /* Espaço interno para o texto */
    text-align: center; /* Centraliza o texto dentro do item */
    transition: background-color 0.3s;
    transition: font-size 0.3s; /* Transição suave para mudança de cor */
    border-radius: 20px;
}

.nav ul li:hover {
    background-color: #5a0170;
    font-size: 18px;
    border-radius: 20px;
    opacity: 1;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style : none; 
    gap: 40px;
}
a{
    color: rgb(136, 218, 4);
    text-decoration: none;

}
.logo{
    border-color: greenyellow;
}

main{
    color: greenyellow;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

